<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />



</head>
<body class="container">
    <h2>Sistema de controle de produtos</h2>
    Asp.Net MVC, EntityFramework, bootstrap e JQuery AJAX
    <hr />
    Selecione a ação desejada:
    <ul>
        <li> <a href="/Produto/Cadastro">Cadastrar Produtos</a> </li>
        <li> <a href="/Produto/Consulta">Consultar Produtos</a> </li>
    </ul>
</body>
</html>
