<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>COTI Informatica</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {

            //criando um JSON para enviar os dados
            var model = {

                filtro: $("#nome").val()

            };

            //consultar os produtos
            $.ajax({
                type: "POST",
                url: "Produto/ConsultarProdutos",
                data: model,

                success: function (lista) {
                    console.log(lista);

                },
                error: function (e) {
                    console.log("Erro: " + e.status);
                }
            });
        });       

    </script>
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <h2>Consulta de Produtos</h2>
            <a href="/Home/Index">Voltar</a>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <label>Informe o nome Produto:</label>
            <input type="text"  id="nome" class="form-control"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="tabela" class="table table-hover">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome do Produto</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th>Total</th>
                        <th>Data de Cadastro</th>
                        <th>Operações</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            Quantidade de registros:
                            <span id="quantidade"></span>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</body>
</html>
